  .site-header{
  padding: 26px 0 26px 0;
}
.site-header__logo {
  display: inline-block;
}
.site-header__img {
  vertical-align: middle;
}
.site-header__container{
  display: flex;
  align-items: center;
}
